body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}

#about {
  font-family: 'Spectral SC', serif;
  margin: 0;
  padding: 2rem;
  font-size: 5rem;
  color: white;
  text-align: center;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#id {
  position: relative;
  background-size: cover;
  background-position: center;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./assets/cover/beast.jpg');
  display: grid;
  place-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 0;
  bottom: 0;
  border: 2px solid gray;
}

.container p {
  display:flex;
  margin: 10px;
  padding: 5px;
}

/* .App main {
  display: flex;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
} */

#email {
  
}