@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap");
body {
  margin: 0;
  font-family: "PT Serif", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --black: #000814ff;
  --oxfordblue: #001d3dff;
  --prussianblue: #003566ff;
  --mikadoyellow: #ffc300ff;
  --golden: #ffd60aff;
}
main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}
#about {
  font-family: "Spectral SC", serif;
  margin: 0;
  padding: 2rem;
  font-size: 5rem;
  background-color: var(--black);
  text-align: center;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#hero {
  position: relative;
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: var(--golden);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: var(--golden);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
  background-color: var(--black);
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px solid #53940b;
}
.container p {
  display: flex;
  margin: 10px;
  padding: 5px;
}
#page-title {
  text-align: center;
  font-size: 5rem;
}
label,
input {
  font-family: "PT Serif", serif;
}
ul,
a {
  list-style: none;
  text-decoration: none;
  font-weight: 400;
  font-family: "PT Serif", serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 30px;
  width: 100%;
  position: sticky;
}
.n-header {
  background-color: var(--oxfordblue);
  color: white;
}
.n-list {
  color: var(--mikadoyellow);
}
.n-sub {
  font-size: 20px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem 1rem;
}

/* stripe */
/* .FormGroup {
	margin: 0 15px 20px;
	padding: 0;
	border-style: none;
	background-color: #7795f8;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
	border-radius: 4px;
}

.FormRow {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 15px;
	border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
}

button {
	display: block;
	font-size: 16px;
	width: calc(100% - 30px);
	height: 40px;
	margin: 40px 15px 0;
	background-color: #f6a4eb;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #ffb9f6;
	border-radius: 4px;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	transition: all 100ms ease-in-out;
	will-change: transform, background-color, box-shadow;
	border: none;
}

button:active {
	background-color: #d782d9;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #e298d8;
	transform: scale(0.99);
}

.App {
	margin-left: 25%;
	margin-top: 5%;
	margin-right: 25%;
}

h1,
h3 {
	text-align: center;
} */