@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap");
body {
  margin: 0;
  font-family: "PT Serif", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --black: #000814ff;
  --oxfordblue: #001d3dff;
  --prussianblue: #003566ff;
  --mikadoyellow: #ffc300ff;
  --golden: #ffd60aff;
}
main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}
#about {
  font-family: "Spectral SC", serif;
  margin: 0;
  padding: 2rem;
  font-size: 5rem;
  background-color: var(--black);
  text-align: center;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#hero {
  position: relative;
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
}
.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: var(--golden);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: var(--golden);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
  background-color: var(--black);
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  border: 1px solid var(--golden);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px 5px ;
}
.container p {
  display: flex;
  margin: 10px;
  padding: 5px;
}

.info-news {
  text-align: center;

}

#page-title {
  text-align: center;
  font-size: 5rem;
}
label,
input {
  font-family: "PT Serif", serif;
}

ul,
a {
  list-style: none;
  text-decoration: none;
  font-weight: 400;
  font-family: "PT Serif", serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 30px;
  width: 100%;
  position: sticky;
}

.n-header {
  background-color: var(--oxfordblue);
  color: white;
}

.n-list {
  color: var(--mikadoyellow);
}

.n-sub {
  font-size: 20px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1rem 1rem;
}

button {
  padding: 15px;
  background-color: var(--golden);
  font-weight: 500;
  cursor: pointer;
  color: var(--black);
}

input {
  padding: .5rem;
  font-size: 15px;
  width: 200px;
  display: flex;
  margin: 2px;
}

form {
  display: block;
  padding: .5rem .5rem;
}

.card-header {
  display: flex;
  font-size: 15px;
  font-weight: 400;
}

.news {
  font-size: 15px;
  font-weight: 400;
}

.schedule-card {
  font-size: 15px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: .5rem .5rem;
}

@media screen and (max-width: 480px) {
  main {
    margin: 0 auto;
    max-width: 70%;
    padding: 30px 10px;
  }

  #about {
    font-family: "Spectral SC", serif;
    margin: 0;
    padding: 1rem;
    font-size: 4rem;
  }

  .right-arrow {
    font-size: 1rem;
  }

  .left-arrow {
    font-size: 2rem;
  }

  .slider {
    height: 60vh;
  }
  
  .image {
    width: 500px;
    height: 150px;
    border-radius: 5px;
  }

  .container p {
    margin: 5px;
    padding: 2.5px;
  }

  #page-title {
    font-size: 3rem;
  }
  
  ul,
  a {
    font-weight: 200;
    font-size: 15px;
    width: 60%;
  }
  
  
  .n-sub {
    font-size: 10px;
    font-weight: 200;
    padding: .25rem .25rem;
  }
  
  button {
    padding: 8px;
    font-weight: 300;
  }
  
  input {
    padding: .5rem;
    font-size: 8px;
    width: 60%;
  }
  
  .card-header {
    font-size: 8px;
    font-weight: 200;
  }
  
  .news {
    font-size: 8px;
    font-weight: 200;
  }
  
  .schedule-card {
    font-size: 8px;
    font-weight: 200;
  }
}