* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray: #d6d6d6;
  --red: #bf0820;
  --blue: #090194;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--gray);
  color: var(--black);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0 2rem;
  background-color: var(--gray);
  font-size: 1rem;
}

.navigation {
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

.navigation li {
  padding: .5rem;
}

#about {
  font-family: 'Spectral SC', serif;
  margin: 0;
  padding: 2rem;
  font-size: 5rem;
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
