body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#about {
  font-family: 'Spectral SC', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
